---
# Ansible playbook to collect Windows server metrics
# Requires WinRM or PowerShell Remoting configured

- name: Collect Windows System Metrics
  hosts: windows_servers
  gather_facts: yes
  vars:
    django_api_host: "{{ lookup('env', 'DJANGO_API_HOST') | default('web', true) }}"
  
  tasks:
    - name: Get CPU usage percentage
      win_shell: |
        (Get-Counter '\Processor(_Total)\% Processor Time').CounterSamples.CookedValue
      register: cpu_usage
      failed_when: false
    
    - name: Get memory usage percentage
      win_shell: |
        $mem = Get-CimInstance Win32_OperatingSystem
        [math]::Round((($mem.TotalVisibleMemorySize - $mem.FreePhysicalMemory) / $mem.TotalVisibleMemorySize) * 100, 2)
      register: memory_usage
      failed_when: false
    
    - name: Get disk usage percentage (C: drive)
      win_shell: |
        $disk = Get-PSDrive C
        if ($disk.Used -and $disk.Free) {
          [math]::Round((($disk.Used / ($disk.Used + $disk.Free)) * 100), 2)
        } else {
          0
        }
      register: disk_usage
      failed_when: false
    
    - name: Get network statistics
      win_shell: |
        $adapters = Get-NetAdapterStatistics | Where-Object {$_.Name -notlike "*Loopback*" -and $_.Name -notlike "*Bluetooth*"}
        $totalIn = ($adapters | Measure-Object -Property ReceivedBytes -Sum).Sum
        $totalOut = ($adapters | Measure-Object -Property SentBytes -Sum).Sum
        "$totalIn $totalOut"
      register: network_stats
      failed_when: false
    
    - name: Get Windows uptime
      win_shell: |
        $os = Get-CimInstance Win32_OperatingSystem
        $uptime = (Get-Date) - $os.LastBootUpTime
        "$($uptime.Days) days, $($uptime.Hours) hours"
      register: uptime
      failed_when: false
    
    - name: Display collected metrics
      debug:
        msg: |
          Host: {{ inventory_hostname }}
          CPU: {{ cpu_usage.stdout | default('N/A') }}%
          Memory: {{ memory_usage.stdout | default('N/A') }}%
          Disk: {{ disk_usage.stdout | default('N/A') }}%
          Network: {{ network_stats.stdout | default('N/A') }}
          Uptime: {{ uptime.stdout | default('N/A') }}
    
    - name: Send metrics to Django API
      uri:
        url: "http://{{ django_api_host }}:8000/api/v1/metrics/"
        method: POST
        body_format: json
        headers:
          Content-Type: "application/json"
        body:
          system_id: "{{ hostvars[inventory_hostname].system_id | default(2) }}"
          cpu_usage: "{{ cpu_usage.stdout | default(0) | float }}"
          memory_usage: "{{ memory_usage.stdout | default(0) | float }}"
          disk_usage: "{{ disk_usage.stdout | default(0) | float }}"
          network_in: "{{ (network_stats.stdout.split()[0] | default(0) | int) / 1024 / 1024 }}"
          network_out: "{{ (network_stats.stdout.split()[1] | default(0) | int) / 1024 / 1024 }}"
        status_code: 201
        timeout: 10
      delegate_to: localhost
      ignore_errors: yes
      when: cpu_usage.stdout is defined
    
    - name: Create log entry for successful collection
      uri:
        url: "http://{{ django_api_host }}:8000/api/v1/logs/"
        method: POST
        body_format: json
        body:
          system_id: "{{ hostvars[inventory_hostname].system_id | default(2) }}"
          level: "info"
          message: "Metrics collected successfully from {{ inventory_hostname }}"
          source: "ansible_windows"
        status_code: 201
      delegate_to: localhost
      ignore_errors: yes
